<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New post</title>
</head>
<body>
    <form action="/posts" method="post">
        <input type="text" name="username" placeholder="type your name">
        <textarea name="message"></textarea>
        <button>Submit</button>
    </form>
</body>
</html>